textarea {
  height: 40px;
  resize: none;
}
.description_textarea {
  min-height: 80px !important;
  max-height: 300px;
  resize: none;
}

.keys::first-letter {
  text-transform: uppercase;
}

.description_textarea::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.description_textarea::-webkit-scrollbar-track {
  margin: 5px;
}

.description_textarea::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #888;
}

.description_textarea::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid var(--second-color) !important;
  background-color: transparent !important;
  color: var(--txt-color) !important;
}

.info_modal_theme {
  color: var(--txt-color) !important;
  background-color: var(--second-bg) !important;
}
.close_icon {
  cursor: pointer;
}

.custom_header {
  border-bottom: 1px solid var(--main-bg);
}
.custom_footer {
  border-top: 1px solid var(--main-bg);
}
.modal_image {
  width: 100px;
}

.product_info {
  border-bottom: 1px solid var(--main-bg);
  transition: all 0.3s;
}

.product_info:hover {
  background-color: var(--main-bg);
}
