.dropdown {
  z-index: 100;
}

.dropdown_toggle {
  cursor: pointer;
}

.dropdown_toggle span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -11px;
  right: -11px;
  padding: 4px;
  background-color: var(--main-color);
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  color: var(--txt-white);
}

.dropdown_content {
  position: absolute;
  top: 50px;
  right: 20px;
  width: max-content;
  max-width: 400px;
  background-color: var(--second-bg);
  color: var(--txt-color);
  padding: 12px 24px;
  border-radius: 5px;
  transform-origin: top right;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  box-shadow: var(--box-shadow);
}

.dropdown_content.active {
  transform: scale(1);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: block;
}

.dropdown_footer {
  width: 100%;
  padding: 16px;
  border: none;
  color: var(--txt-white);
  border-radius: 7px;
  background-color: var(--second-color);

  transition: all 0.3s;
}
.dropdown_footer:hover {
  transform: scale(1.02);
  background-color: var(--main-color);
}

.user_menu_item {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
  transition: all 0.2s;
  cursor: pointer;
}

.user_menu_item:hover {
  color: var(--main-color);
}

.notification_menu_item {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
  transition: all 0.2s;
  cursor: pointer;
}

.notification_menu_item:hover {
  color: var(--main-color);
}

@media only screen and (max-width: 768px) {
  .dropdown_content {
    max-width: 300px;
    font-size: 12px;
    padding: 8px 16px;
  }
  .dropdown_footer {
    width: 100%;
    padding: 8px;
  }
}
@media only screen and (max-width: 552px) {
  .dropdown_content {
    max-width: 240px;
    font-size: 10px;

    padding: 6px 12px;
  }
  .dropdown_footer {
    width: 100%;
    padding: 6px;
  }
}
