.box-in-Dashboard {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  letter-spacing: 0.31px;
}
.chart {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  /* max-width: 650px; */
  margin: 35px auto;
}
