.navbar {
  color: var(--txt-color);
}
.parent {
  position: relative;
}

.image {
  width: 80px;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  padding: 2px;
}

.dropdown_item {
  transition: all 0.3s;
}
.dropdown_item:hover {
  color: var(--main-color);
}
.user_name {
  font-size: 22px;
}

@media only screen and (max-width: 768px) {
  .user_name {
    margin-top: 20px;
    font-size: 18px;
  }
  .image {
    width: 50px;
  }
}

@media only screen and (max-width: 556px) {
  .user_name {
    margin-top: 20px;
    font-size: 14px;
    /* display: none; */
  }
  .image {
    width: 40px;
  }
}
