.sidebar-main {
  height: 10000vh;
  box-shadow: var(--box-shadow);
  transition: width 0.3s ease-out;
}
.menu_logo {
  width: 170px;
  cursor: pointer;
}
.menu-button {
  cursor: pointer;
  color: var(--main-color);
}
.menu-item {
  cursor: pointer;
  text-decoration: none;
  color: var(--txt-color);
}
.menu-icon {
  font-size: 28px;
}
.active {
  color: var(--second-color);
}
