.table {
  border-radius: var(--border-radius);
  width: 100%;
  box-shadow: var(--box-shadow);
  background-color: var(--second-bg);
  color: var(--txt-color);
}

thead tr th {
  /* overflow: scroll !important; */
  /* border: 1px solid var(--main-bg); */
  border: none;
  box-shadow: inset 0 0 0 0.3px var(--main-bg) !important;
}
tbody tr td {
  /* overflow: scroll !important; */

  /* border: 0.3px solid var(--main-bg); */
  border: none;
  box-shadow: inset 0 0 0 0.3px var(--main-bg) !important;
}

tbody tr:last-child td {
  border-bottom: none !important;
}
tbody tr {
  transition: background-color 0.2s;
}
tbody tr:hover {
  color: var(--txt-white);
  background-color: var(--main-color);
}
tbody tr td {
  vertical-align: middle;
}
.page-number {
  cursor: pointer;
  margin-left: 4px;
  border-radius: var(--border-radius);
  transition: all 0.2s;
}
.page-number:hover {
  background-color: var(--main-color);
  color: var(--txt-white);
}
.page-number.active {
  background-color: var(--main-color) !important;
  color: var(--txt-white);
}
.limit {
  border-radius: var(--border-radius);
  background-color: var(--main-bg);
}

.limit select {
  color: var(--txt-color);
  background-color: var(--main-bg) !important;
  outline: none !important;
  border: none !important;
  padding: 4px;
}

.table_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  cursor: pointer;
  transition: all 0.3s;
}

.head_elements {
  text-transform: uppercase;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid var(--txt-color);
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease-in-out;
  margin-right: 5px;
  position: relative;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  background-color: var(--txt-white);
  border: 5px solid var(--txt-color);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

input[type="checkbox"]:checked::before {
  opacity: 1;
}
