.table {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 7px;
  width: 100%;
}

tbody tr:last-child {
  border-bottom: none !important;
}

.page-number {
  cursor: pointer;
  margin-left: 4px;
}
.page-number:hover {
  background-color: cyan;
}

.limit select {
  outline: none;
  border: none;
  padding: 4px;
  background-color: transparent;
}

.info-element {
  cursor: pointer;
  transition: all 0.3s;
}
.info-element:hover {
  color: cyan;
}
.head_elements {
  text-transform: uppercase;
}
