.project_container {
  overflow-x: auto !important;
}
.child-1 {
  flex-basis: auto;
  position: fixed;
  background-color: var(--second-bg);
  padding: 0 !important;
  color: var(--txt-color);
  z-index: 1000000;
}
.child-2 {
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  padding-right: 32px;
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
  transition: all 0.3s ease-out;
}
.child-1-inMobile {
  flex-basis: auto;
  position: fixed;
  /* background-color: var(--second-bg); */
  padding: 0 !important;
  color: var(--txt-color);
  z-index: 1000000;
}
