.child-1 {
  flex-basis: auto;
  position: fixed;
  background-color: var(--second-bg);
  color: var(--txt-color);
}
.child-2 {
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  padding-right: 32px;
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
  transition: all 0.3s ease-out;
  overflow: hidden;
}
